/*---------------------------------
    Footer CSS 
-----------------------------------*/

.footer-wrap:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    z-index: -1;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #E7F1F1;
}

.footer-wrap .footer-shape-two {
    right: 27.5%;
    top: 0;
}

.footer-wrap .footer-top .footer-shape {
    top: 30%;
    z-index: -1;
}

.footer-wrap .fint-footer-widget .fint-footer-widget-title {
    margin-bottom: 18px;
}

.footer-wrap .fint-footer-widget .footer-contact {
    padding: 50px 50px 90px;
    background-color: var(--secondaryColor);
    margin-top: -100px;
}

.footer-wrap .fint-footer-widget .footer-contact .comp-address {
    margin: 37px 0 27px;
}

.footer-wrap .fint-footer-widget .footer-contact .comp-address,
.footer-wrap .fint-footer-widget .footer-contact a {
    color: #CDD4CD;
}

.footer-wrap .fint-footer-widget .footer-contact .social-profile {
    margin-top: 32px;
    margin-left: -4px;
}

.footer-wrap .fint-footer-widget .footer-contact .social-profile li {
    margin-right: 10px;
}

.footer-wrap .fint-footer-widget .footer-contact .social-profile li:last-child {
    margin-right: 0;
}

.footer-wrap .fint-footer-widget .footer-contact .social-profile li a {
    display: inline-block;
}

.footer-wrap .fint-footer-widget .footer-contact .social-profile li a i {
    color: var(--lemonColor);
    font-weight: 300;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.footer-wrap .fint-footer-widget .footer-contact .social-profile li a:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.footer-wrap .fint-footer-widget .footer-contact .social-profile li a:hover i {
    color: var(--whiteColor);
}

.footer-wrap .fint-footer-widget .subscribe-form input {
    height: 46px;
    color: #7C8D7D;
    padding-left: 25px;
    padding-right: 15px;
}

.footer-wrap .fint-footer-widget .subscribe-form input::-webkit-input-placeholder {
    opacity: 1;
    color: #7C8D7D;
}

.footer-wrap .fint-footer-widget .subscribe-form input:-ms-input-placeholder {
    opacity: 1;
    color: #7C8D7D;
}

.footer-wrap .fint-footer-widget .subscribe-form input::-ms-input-placeholder {
    opacity: 1;
    color: #7C8D7D;
}

.footer-wrap .fint-footer-widget .subscribe-form input::placeholder {
    opacity: 1;
    color: #7C8D7D;
}

.footer-wrap .fint-footer-widget .subscribe-form button {
    padding: 11px 15px;
}

.footer-wrap .fint-footer-widget .footer-menu li {
    margin-bottom: 6.5px;
}

.footer-wrap .fint-footer-widget .footer-menu li:last-child {
    margin-bottom: 0;
}

.footer-wrap .fint-footer-widget .footer-menu li a {
    color: #3C4B3D;
    font-weight: 600;
}

.footer-wrap .fint-footer-widget .footer-menu li a:hover {
    color: var(--primaryColor);
    padding-left: 5px;
}

.footer-wrap .fint-footer-widget .checklist-widget li {
    margin-bottom: 7px;
}

.footer-wrap .fint-footer-widget .checklist-widget li:last-child {
    margin-bottom: 0;
}

.footer-wrap .copyright-text {
    background-color: var(--primaryColor);
    padding: 26px 0;
    color: var(--orangeBlackColor);
    letter-spacing: -0.48px;
}

.footer-wrap .copyright-text a {
    color: var(--orangeBlackColor);
}

.footer-wrap .copyright-text a:hover {
    color: var(--whiteColor);
}

/*---------------------------------
    Responsive CSS 
-----------------------------------*/

@media only screen and (max-width: 767px) {
    .footer-wrap:after {
        height: calc(100% - 50px);
    }
    .footer-wrap .fint-footer-widget .footer-contact {
        padding: 30px 25px 30px;
        margin-top: -50px;
    }
    .footer-wrap .fint-footer-widget .footer-contact .comp-address {
        margin: 30px 0 27px;
    }
    .footer-wrap .fint-footer-widget .footer-contact .social-profile {
        margin-top: 22px;
    }
    .footer-wrap .fint-footer-widget .checklist-widget {
        margin-bottom: 11px;
    }
    .footer-wrap .fint-footer-widget .fint-footer-widget-title {
        margin-bottom: 11px;
    }
    .footer-wrap .fint-footer-widget .footer-menu li a,
    .footer-wrap .fint-footer-widget .contact-info li,
    .footer-wrap .fint-footer-widget .comp-desc {
        font-size: 14px;
    }
    .footer-wrap .fint-footer-widget .footer-menu li {
        margin-bottom: 3px;
    }
    .footer-wrap .fint-footer-widget .footer-menu li:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-wrap:after {
        height: calc(100% - 70px);
    }
    .footer-wrap .fint-footer-widget .footer-contact {
        padding: 65px 35px 80px;
        margin-top: -70px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-wrap .fint-footer-widget .footer-contact {
        padding: 65px 35px 107px;
    }
}

@media only screen and (min-width: 1200px) {
    .fint-footer-widget .comp-desc {
        letter-spacing: 0.04px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .footer-wrap .fint-footer-widget .fs-24 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1400px) {
    .footer-wrap .fint-footer-widget .footer-contact {
        width: calc(100% - 43px);
        margin-top: -97px;
    }
}

/*# sourceMappingURL=fint-footer.css.map */